mat-card {
  margin: 8px;
}

.form {
  min-width: 150px;
}

.full-width {
  width: 100%;
}
.task-detail {
  overflow: hidden;
  display: flex;
}

.left-description {
  padding-left: 8px;
  max-width: 250px;
}
